<div id="<%= dom_id bio %>">
  <p>
    <strong>Nickname:</strong>
    <%= bio.nickname %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= bio.name %>
  </p>

  <p>
    <strong>Surname1:</strong>
    <%= bio.surname1 %>
  </p>

  <p>
    <strong>Surname2:</strong>
    <%= bio.surname2 %>
  </p>

  <p>
    <strong>Birth date:</strong>
    <%= bio.birth_date %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= bio.address %>
  </p>

  <p>
    <strong>City:</strong>
    <%= bio.city %>
  </p>

  <p>
    <strong>Province:</strong>
    <%= bio.province %>
  </p>

  <p>
    <strong>Postal code:</strong>
    <%= bio.postal_code %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= bio.country %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= bio.phone %>
  </p>

  <p>
    <strong>User:</strong>
    <%= bio.user_id %>
  </p>

</div>
