<p style="color: green"><%= notice %></p>

<%= render @bio %>

<div>
  <%= link_to "Edit this bio", edit_bio_path(@bio) %> |
  <%= link_to "Back to bios", bios_path %>

  <%= button_to "Destroy this bio", @bio, method: :delete %>
</div>
